@use "../config/vars" as *;

/* ============= BUTTONS ============ */
.btn {
  transition: all 0.15s ease-in;
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: capitalize;
  vertical-align: middle;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
  text-align: center;
  white-space: nowrap;
  position: relative;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
}

.main-btn { 
  padding: 10px 20px;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  &:hover{ 
    opacity: .8;
  }
}



