@use "../config/vars" as *;

.about {
  position: relative;
  background-image: url(../imgs/waves/wave-left.png);
  background-size: 85% 100%;
  background-position: 0% center;
  background-repeat: no-repeat;
  &::before {
    // @include pseudo   ;
    height: 400px;
    width: 300px;
    background-color: var(--clr-primary);
    border-radius: 50%;
    translate: 0 -50%;
    opacity: 0.3;
    top: 50%;
    z-index: -1;
  }
  .container {
    display: flex;
    @include flex-between;
    & > div {
      flex: 1;
    }
  }
  &-image {
    align-self: flex-end;
  }
  &-me {
    .section-header {
      align-items: flex-start;
    }
  }

  .info {
    margin-top: 20px;
    p {
      margin-bottom: 30px;
    }
    .skills {
      .skill {
        margin-bottom: 10px;
        .header {
          margin-bottom: 10px;
          display: flex;
          @include flex-between;
          h1 {
            font-size: var(--fz-normal);
          }
        }

        .progress {
          border-radius: 10px;
          background-color: rgba(33, 243, 26, 0.11);
          position: relative;
          height: 5px;

          span {
            display: block;
            width: var(--pre);
            height: 100%;
            background-color: var(--clr-primary);
            border-radius: 10px;
            position: relative;
            &::after {
              @include pseudo;
              @include box(10px 20px);
              right: 0;
              top: 50%;
              border: 2px solid;

              translate: 0 -50%;
              background-color: var(--clr-white);
            }
          }
        }
        &:first-child {
          .progress {
            span {
              background-color: var(--clr-violet);
              &::after {
                border-color: var(--clr-violet);
              }
            }
          }
        }
        &:nth-child(2) {
          .progress {
            span {
              background-color: var(--clr-yellow-green);
              &::after {
                border-color: var(--clr-yellow-green);
              }
            }
          }
        }
        &:nth-child(3) {
          .progress {
            span {
              background-color: var(--clr-orangered);
              &::after {
                border-color: var(--clr-orangered);
              }
            }
          }
        }
        &:last-child {
          .progress {
            span {
              background-color: var(--clr-skeyblue);
              &::after {
                border-color: var(--clr-skeyblue);
              }
            }
          }
        }
      }
    }
  }
}

@include media(md, "max") {
  .about {
    &-image {
      display: none;
    }
  }
}
