@use "../config/vars" as *;

.services {
  position: relative;
  overflow-x: hidden;

  &::before {
    display: block;
    @include box(300px);
    background-color: #eee;
    opacity: 0.9;
    @include circle;
  }

  &::before {
    @include top-left(10% -10%);
  }

  &-data {
    position: relative;
    padding-top: 60px;
    display: flex;
    @include flex-center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .box {
      position: relative;
      background-color: var(--clr-white);
      padding: 20px;
      border-radius: 20px;
      box-shadow: var(--shadow-black-100);
      text-align: center;
      overflow: hidden;
      flex: 0 1 250px;
      border-bottom: 5px solid;
      transition: opacity 1s ease-in, 0.5s ease-in;
      &.aos {
        @include fade;
        translate: 0 100px;
      }
      &.show {
        animation: fadeout 1s ease-in-out 1 forwards;
      }

      &:first-child {
        animation-delay: 200ms;
        border-color: var(--clr-violet);

        .head {
          background-color: var(--clr-violet);
        }
      }

      &:nth-child(2) {
        animation-delay: 300ms;

        border-color: var(--clr-orangered);

        .head {
          background-color: var(--clr-orangered);
        }
      }

      &:last-child {
        animation-delay: 600ms;

        border-color: var(--clr-skeyblue);

        .head {
          background-color: var(--clr-skeyblue);
        }
      }

      .head {
        display: block;
        color: var(--clr-white);
        padding: 30px;
        @include circle();
        width: fit-content;
        margin-inline: auto;
        font-size: var(--size-5);
        background-color: var(--clr-primary);
        margin-bottom: 30px;
        transition: var(--transition);
      }

      &:hover {
        translate: 0 -10px;

        .text * {
          animation-delay: 0.1s;
        }
      }

      .text {
        *:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@keyframes fadeout {
  100% {
    @include fade("show");
    translate: 0 0px;
  }
}
